//
@font-face {
	font-family: 'Fira Sans';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/FiraSans-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Fira Sans';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/FiraSans-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'Fira Sans';
	font-weight: normal;
	font-style: italic;
	src: url('../fonts/FiraSans-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Fira Sans';
	font-weight: bold;
	font-style: italic;
	src: url('../fonts/FiraSans-BoldItalic.woff2') format('woff2');
}
