@import 'mixins';
@import 'fonts';

$color0: #88bdf9;
$color1: #c488f9;
$color2: #f988bd;
$color3: #f9c488;
$color4: #f5f988;
$color5: #bdf988;

$backdropcolor: #999;
$backgroundcolor: #d9d9d9;

$navwidth: 240px;
$fontfamily: 'Fira Sans', 'Helvetica Neue', 'Helvetica', 'Futura', sans-serif;

$breakpoints: (
	'desktop': 1024px,
	'big': 1360px
);

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: $backdropcolor;
	box-sizing: border-box;
	font-size: 16px;
	font-family: $fontfamily;
}

body {
	padding: 8px;
}

p,
li {
	line-height: 1.5;
	& a {
		color: firebrick;
		font-weight: bold;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	& .embiggen {
		font-size: 200%;
		position: relative;
		top: 10px;
		padding-top: 0;
		line-height: 50%;
	}
	& .circle {
		display: inline-block;
		color: $color3;
		background-color: black;
		min-width: 28px;
		text-align: center;
		border-radius: 100%;
	}
}

main {
	display: grid;
	grid-template-rows: 32px 1fr;
	grid-template-columns: $navwidth 1fr;
	border-radius: 8px;
	background-color: $backgroundcolor;
	padding: 16px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	grid-gap: 16px;
}

nav {
	border-radius: 8px;
}

#mainnav {
	grid-row: 1/2;
	grid-column: 1/3;
	display: grid;
	grid-template-columns: 32px 1fr 32px;
	& #goleft {
		grid-column: 1/2;
		margin: auto;
	}
	& #goright {
		grid-column: 3/4;
		margin: auto;
	}
	& #numbers {
		grid-column: 2/3;
		display: flex;
		justify-content: center;
		align-items: baseline;
		padding-top: 6px;
	}
	& a {
		margin: 0 1em;
		text-decoration: none;
		color: black;
		transition: transform 0.25s;
		@include notouch;
		&:hover {
			transform: scale(1.5);
		}
		&.on {
			font-weight: bold;
			color: firebrick;
		}
		&.off {
			visibility: hidden;
		}
	}
}
section {
	box-sizing: border-box;
	grid-row: 2/3;
	grid-column: 1/3;
	display: flex;
	overflow-x: hidden;
	overflow-y: hidden;
}

article {
	opacity: 0;
	display: grid;
	box-sizing: border-box;
	grid-template-columns: minmax(320px, 640px) 1fr;
	grid-template-rows: 1fr 240px;
	grid-column-gap: 64px;
	grid-row-gap: 16px;
	min-width: calc(100vw - 48px);
	max-width: calc(100vw - 48px);
	max-height: 100%;
	transition: opacity ease-in 1s;
	@include media('<=desktop') {
		max-height: unset;
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 2fr 1fr;
		overflow-y: auto;
	}
	& .text {
		position: relative;
		grid-row: 1/3;
		grid-column: 1/3;
		overflow-y: auto;
		font-size: 24px;
		// // problem with this is that it overlays the headers
		// &:before {
		// 	position: sticky;
		// 	top: 0;
		// 	left: 0;
		// 	height: 50px;
		// 	width: 100%;
		// 	content: '';
		// 	background: linear-gradient(to top, transparent, $backgroundcolor);
		// 	display: block;
		// 	z-index: 2;
		// 	margin-top: -50px;
		// }
		@include media('<=desktop') {
			grid-row: 1/4;
			grid-column: 1/1;
			height: 100%;
			overflow-y: auto;
		}
		&:after {
			position: sticky;
			bottom: 0;
			left: 0;
			height: 100px;
			width: 100%;
			content: '';
			background: linear-gradient(to bottom, transparent, $backgroundcolor);
			display: block;
		}
		& h1 {
			font-size: 48px;
			text-align: center;
			max-width: 960px;
			margin-left: auto;
			margin-right: auto;
		}
		& h2 {
			font-size: 24px;
			margin-top: 24px;
			margin-bottom: 12px;
		}
		& p,
		& ul {
			margin: 0;
			max-width: 800px;
			font-size: 125%;
			margin-left: auto;
			margin-right: auto;
		}
		& p + p {
			text-indent: 1em;
		}
	}
	& .demo {
		grid-row: 1/2;
		grid-column: 2/3;
		background-color: white;
		border: 8px solid black;
		overflow: hidden;
		position: relative;
		@include media('<=desktop') {
			grid-row: 2/3;
			grid-column: 1/2;
			height: 100%;
			overflow-y: auto;
			min-height: 600px;
		}
		& .demoresize {
			//	border: 16px dashed white;
			position: absolute;
			overflow: auto;
			//	min-width: 100%;
			top: 0;
			left: 0;
			padding: 16px;
			height: 100%;
			width: 100%;
			box-sizing: border-box;
			& .resizearrow {
				right: 0;
				bottom: 0;
				position: absolute;
				font-size: 64px;
				cursor: se-resize;
				background-color: $color4;
				color: black;
				background-color: transparent;
				color: $color4;
				@include notouch;
				border-radius: 100%;
				width: 64px;
				text-align: center;
				padding: 0 8px;
				border: 8px solid $color4;
				text-shadow: black 0 0 20px;
				box-shadow: black 0 0 20px;
			}
		}
		& h2 {
			text-align: right;
			color: white;
			@include notouch;
		}
		& + .text {
			grid-column: 1/2;
			@include media('<=desktop') {
				grid-column: 1/2;
				grid-row: 1/2;
			}
			& h1 {
				margin-top: 0;
				font-size: 36px;
				text-align: left;
				max-width: 640px;
			}
			& p,
			& ul {
				max-width: 640px;
				font-size: 100%;
			}
		}
	}
	& nav {
		grid-row: 2/3;
		grid-column: 2/3;
		padding: 16px;
		overflow-y: auto;
		@include media('<=desktop') {
			grid-column: 1/2;
			grid-row: 3/4;
			height: 100%;
			overflow-y: auto;
			margin-top: 16px;
		}
		& h2 {
			margin-top: 0;
		}
		& p {
			font-size: 20px;
		}
		& + .demo + .text {
		}
	}
}

#panel_0 {
	& nav {
		background-color: $color0;
	}
}

#panel_1 {
	& nav {
		background-color: $color1;
	}
	& .demo {
		border-color: $color1;
	}
}

#panel_2 {
	& nav {
		background-color: $color2;
	}
	& .demo {
		border-color: $color2;
		& .resizearrow {
			color: $color2;
			border-color: $color2;
		}
	}
}

#panel_3 {
	& nav {
		background-color: $color3;
	}
	& .demo {
		border-color: $color3;
		& .resizearrow {
			color: $color3;
			border-color: $color3;
		}
	}
}

#panel_4 {
	& nav {
		background-color: $color4;
	}
	& .demo {
		border-color: $color4;
		& .resizearrow {
			color: $color4;
			border-color: $color4;
		}
	}
}

#panel_5 {
	& nav {
		background-color: $color5;
	}
	& .demo {
		border-color: $color5;
		& .resizearrow {
			color: $color5;
			border-color: $color5;
		}
	}
}

#panel_6 {
	& nav {
		background-color: $color0;
	}
	& .demo {
		border-color: $color0;
		& .resizearrow {
			color: $color0;
			border-color: $color0;
		}
	}
}

@import 'demos';
